body{
  font-family: 'Times New Roman', Times, serif;
  background-color: beige;
}

.wrapper{
  display: grid;
  grid-template-rows: 100px 1fr 0.5fr 100px;
}

.title {
  color: white;
  font-size: 2.2rem;
  margin-left: 30px;
  min-width: 200px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgb(187, 151, 52), rgb(255, 255, 255));
}

.rightlinks{
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border-style: none;
  font-size: 1.7rem;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}

.home:hover, .menu:hover, .contact:hover{
  background-color: rgb(187, 151, 52);
  color: white;
  cursor:grab;
  border-radius: 10px;
}

.frontImage{
  margin: 0;
  padding: 0;
}

.image1, .image2{
  width: 100%;
  height: 100%;
}

.description{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 10px;
}

.descTitle{
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.descText2{
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
