body{
  font-family: 'Times New Roman', Times, serif;
  background-color: beige;
}

.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  /* grid-template-rows: 100px 1fr 100px; */
}

.header, .footer{
  height: 90px;
}

.title {
  color: white;
  font-size: 2.2rem;
  margin-left: 30px;
  min-width: 200px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgb(187, 151, 52), rgb(255, 255, 255));
}

.rightlinks{
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border-style: none;
  font-size: 1.7rem;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}

.home:hover, .menu:hover, .contact:hover{
  /* background-color: rgb(187, 151, 52); */
  /* color: white;
  cursor:grab;
  border-radius: 10px; */
  border-bottom: 5px solid black;
}

.frontImage{
  margin: 0;
  padding: 0;
}

.midsection{
  height:100%;
}

.image1, .image2{
  width: 100%;
  height: 100%;
}

#menuItem1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#middleItem1{
  font-size: 2rem;
}

#menuItem1{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

/* #leftItem2, #leftItem3{
  font-weight: 700;
  font-size:calc(1rem + 0.5vw);
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
} */

/* #middleItem2, #middleItem3{
  font-size:calc(1rem + 0.2vw);
}

#rightItem2, #rightItem3{
  width: 200px;
  height: 200px;
} */

/* .leftMenu, .middleMenu, .rightMenu{
  font-size: larger;
  font-weight: 700;
  border: 5px solid black;
  background-color: aqua;
  height: 20vh;
  width: 25vw;
} */

.description{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 10px;
}

.descTitle{
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.descText2{
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

.location, .phoneNum, .socials{
  font-weight: 700;
}

.twitter{
  background-image: url(../src/images/twitter.png);
}

.instagram{
  background-image: url(../src/images/instagram.png);
}

.facebook{
  background-image: url(../src/images/facebook.png);
}

.twitter, .instagram, .facebook{
  border-style: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.twitter:hover, .instagram:hover, .facebook:hover{
  cursor: grab;
}
  

.footer{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
